.fondo-secundary{
    background-color: #2B3035;
    
}
.carousel-inner img{
    height: 500px;
}
.card{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-align: center;
}

.card img{
    width: 200px;
}

@media (max-width: 992px) {
    .carousel-inner img{
        height: 400px;
    }
}

@media (max-width: 767px) {
    .carousel-inner img{
        height: 300px;
    }
}

@media (max-width: 490px) {
    .carousel-inner img{
        height: 200px;
    }
}