<footer class="fondo-secundary d-flex flex-column justify-content-center align-items-center py-2">
    <div class="d-flex w-100 justify-content-center align-items-center">
        <div class="linia"></div>
        <div class="redes d-flex justify-content-center">
            <a href=""><i class="bi bi-facebook mx-3" ></i></a>
            <a href=""><i class="bi bi-instagram mx-3"></i></a>
            <a href=""><i class="bi bi-youtube mx-3"></i></a>
            <a href=""><i class="bi bi-twitter mx-3"></i></a>
            
            
            
            
        </div>
        <div class="linia "></div>

    </div>
    <div>
        <img src="../../../assets/images/logo1.png" alt="logo" width="30" class="m-2">
        BirdMovie
    </div>
    
    <p>Derechos reservados © 2023</p>
</footer>
