.fondo-secundary{
    background-color: #2B3035;
}
i{
    font-size: 30px;
}
.linia{
    width: 50%;
    height: 6px;
    background-color: rgb(255, 255, 255);
}
.redes{
    width: 300px;
}

.redes a{
    color: white;
}